
<h2><%= @post.title %> <br></h2>

<%= @post.content %>

<% @post.comments.each do |comment| %>
    <%= comment.content %> <br>
<% end %>


<ul>
    <% @post.categories.each do |category| %>
        <li><%= category.name %></li>
    <% end %>
</ul>


<% @post.comments.each do |comment| %>
    <%= comment.user.username %> says: <%= comment.content %> <br>
<% end %>

    <%= form_for @post.comments.build do |f| %>
        <%= f.hidden_field :post_id %><br>
        
        <%= f.fields_for :user, User.new do |user_fields| %>
            <%= user_fields.label :username %> <br>
            <%= user_fields.text_field :username %> <br>
            <%= f.collection_select :user_id, User.all, :id, :username %>
        <% end %>


        <% @post.users.distinct.each do |user| %>
            <%= link_to user.username, user_path(user) %> <br>
        <% end %>

        <%= f.label :content %><br>
        <%= f.text_area :content %><br>
    
    <%= f.submit %>

<% end %>